@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.anim{
  animation: ani 1s forwards;
}

.reanim{
  animation: reani 1s forwards;
}

@keyframes ani{
  to{
    transform:translateX(-3rem);
  }
}

@keyframes reani{
  from{
    transform:translateX(-3rem);
  }
  to{
    transform:translateX(-40rem);
  }
}

.showca::-webkit-scrollbar{
  display:none;
}